.form-content {
  width: 100%;
  max-width: 600px;
  margin: auto;
  font-size: 14px;
}

.form-field {
  width: 400px;
  height: 59px;
  display: flex;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 0px 8px;
  font-size: 28px;
  margin: 8px auto;
}

.task-submit-button {
  color: #000;
  background-color: #fff;
  width: 120px;
  height: 60px;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 0;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 8px auto;
  cursor: pointer;
}

.task-submit-button:hover {
  background-color: #bbb;
}

h2 {
  text-align: center;
  width: 120px;
  margin: auto;
}

input:invalid:focus {
  box-shadow: none;
  border-color: #FF6666 !important;
}

input:required {
  box-shadow: none;
  border-color: #ccc;
}

.nav-button {
  display: flex;
  float: right;
  width: 80px;
  height: 30px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;  
  font-size: 20px;
  padding: 4px;
  text-decoration: none;
  color: #000;
  justify-content: center;
  align-items: center;
}

.nav-button:hover {
  background-color: #bbb;
}
