.form {
  display: none;
  background: #eee;
}

.form-content {
  width: 100%;
  max-width: 600px;
  margin: auto;
  font-size: 14px;
}

.form-field {
  width: 516px; /* 600 - (60 + 8 + 8 + 8) */
  height: 59px;
  max-height: 240px;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 0px 8px;
  font-size: 28px;
  margin-bottom: 8px;
}

textarea.form-field {
  min-height: 120px;
  max-width: 516px;
  padding: 8px 8px;  
}

.task-submit-button {
  color: #000;
  background-color: #fff;
  width: 60px;
  height: 60px;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 0 0 0 8px;
  padding: 0;
  font-size: 28px;
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.task-submit-button:hover {
  background-color: #bbb;
}

.appear {
  display: block;
}
