.single-task {
  margin: 8px auto;
  font-size: 24px;
  overflow: hidden;
  display: flex;
  width: 100%;
  max-width: 600px;
}

input[type="checkbox"] {
  background-color: #fff;
  width: 16px;
  height: 41px;
  margin: 0;
}

.checkbox {
  background-color: #fff;
  width: 16px;
  border-bottom: 1px solid #ccc;
  padding: 0 8px 0 8px;
  display: flex;
  align-items: center;
}

.task-content {
  margin: 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  align-items: center;
  overflow-wrap: break-word;
  width: 492px; /* 600 - (60 + 8 + 8 + 32) */  
  padding: 6px 8px 6px 0;
}

.task-content-checked {
  margin: 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  align-items: center;
  overflow-wrap: break-word;
  width: 492px; /* 600 - (60 + 8 + 8 + 32) */  
  padding: 6px 8px 6px 0;
  color: #aaa;
  text-decoration: line-through;
}

.delete-task {
    margin-left: 8px;
    background-color: #ff7675;
    border-bottom: 1px solid #d63031;
    display: flex;
    width: 40px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.delete-task:hover {
    background-color: #d63031;    
}
